<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8">

    <title>Index</title>
    
</head>
<body>
    <div id="summary">
        <h1>Stackoverflow Summarizer</h1>
    </div>

    <div id="info">
        <div>Type in a stackoverflow post url to summarize it.</div>
        <br />
        <form action="summarize" method="get" accept-charset="utf-8">
        <p><input name="url" type="input" value="">
           <input type="submit" value="Summarize it!"></p>
        </form>
    </div>
</body>
</html>
